doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-latest.min.js')
    script(src='/javascripts/main.js')
  body
    .container
      header
        a(href="/")
          h1 ShoutApp
      .main
        block content
